<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- MathJax Script will render math nicely -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- Google Analytics Script still needs to be pasted here-->
  </head>
  <body>
    <div id = "header">
      <div id = "maintitle"><a href="/">Statistical Learning in Neuroscience</a></div>
      <div id = "subtitle">A Collection of Undergraduate Literature Reviews</div>
     </div>
    <div class = "content">
  	{{ content }}
    </div>
    <!-- liquid templating tag for page content -->
  </body>
</html>